/*

File Name: styles.css

File Author: Mitchell M. Gresham 

Last Date Modified: 7/20/2022 by Mitchell M. Gresham

*/

.nav-container {
    color: #aaaaaa;
    border-bottom: solid;
    border-bottom-width: 2px;
    color: #aaaaaa;
}

.nav-container:hover {
    color: #c6c6c6;
    border-bottom-color: #c6c6c6;
    border-bottom-width: 4px;
}

.feature-button {
    text-decoration: none;
}

.card-img {
    border-radius: 50%;
    height: 140px;
    width: 140px;
    object-fit: cover;
    object-position: center;
}